/* Dark mode colors. */
/*https://starlight.astro.build/guides/css-and-tailwind/#theming*/
:root {
	--sl-font: 'Inter Variable', sans-serif;
	--sl-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--sl-color-white: #fff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #4b5563;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;
	--sl-color-accent-low: var(--tw-accent-900);
	--sl-color-accent: var(--tw-accent-600);
	--sl-color-accent-high: var(--tw-accent-200)
}

:root[data-theme=light] {
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #fff;
	--sl-color-accent-low: var(--tw-accent-200);
	--sl-color-accent: var(--tw-accent-600);
	--sl-color-accent-high: var(--tw-accent-900)
}

:root {
	--blue-accent-200: rgb(15, 0, 107);
	--blue-accent-600: rgb(46, 105, 255);
	--blue-accent-900: rgb(62, 116, 255);
	--sidebar-blue-accent-600: rgba(62, 116, 255, .2);
	--sidebar-blue-text: rgb(0, 43, 103);
	--orange-accent-200: rgb(246, 130, 31);
	--orange-accent-600: rgb(255, 102, 51);
	--orange-accent-900: rgb(0, 0, 0);
	--sidebar-orange-accent-600: rgba(246, 130, 31, .2);
	--tw-accent-200: var(--blue-accent-200);
	--tw-accent-600: var(--blue-accent-600);
	--tw-accent-900: var(--blue-accent-900)
}

:root[data-theme=dark] {
	--tw-accent-200: var(--orange-accent-200);
	--tw-accent-600: var(--orange-accent-600);
	--tw-accent-900: var(--orange-accent-900)
}

.site-title, h1, h2, h3, h4, h5, h6 {
	font-weight: 300 !important;
}